<!DOCTYPE html>
<html>
<head>
  <title>Simple Test</title>
</head>
<body>
  <h1>Simple Test Page</h1>
  <p>Current time: <%= Time.current %></p>
  <p>If you can see the time above, ERB is working!</p>
</body>
</html>
