default: &default
  store_options:
    # Cap age of oldest cache entry to fulfill retention policies
    # max_age: 5184000  # 60 days in seconds
    max_size: <%= 256.megabytes %>
    namespace: <%= Rails.env %>

development:
  <<: *default

test:
  <<: *default

production:
  database: cache
  <<: *default
